.cards-container {
  padding: 5rem 1rem;
}

.skill {
  text-align: center;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: minmax(0, max-content);
}

.info-container {
  background-color: white;
  height: 100%;
  padding: 1px;
  /* display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; */
}

.text.center {
  text-align: center;
}

.text-skill-style {
  font-size: 1.1rem;
}