h1, h2 {
  margin: 0;
}

.projects-container {
  padding: 5rem 12rem;
}

@media (max-width: 1440px) {
  .projects-container {
    padding: 2rem 1.5rem;
  }
}
.projects-title {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.projects-title-style {
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.projects-container-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)
}

.project-infos {
  display: flex;
  flex-direction: column;
  background-color: #214F4B;
  height: 100%;
  padding: 1.5rem;
}

/* Card */

.title-project {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.subtitle-project {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.stack-project {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.stack-title {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.stack-item {
  font-size: .80rem;
  line-height: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: aliceblue;
  border-radius: 50px;
}

/* buttons */

.stack-buttons {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.demo-button,
.source-button {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: lightgray;;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}